<%= form_for [@project, @task] do |f| %>

 <div class="field">
   <%= f.label :title %><br />
   <%= f.text_field :title %>
 </div>

 <div class="field">
   <%= f.label :category %><br />
   <%= f.text_field :category %>
 </div>

 <div class="field">
   <%= f.label :body %><br />
   <%= f.text_area :body %>
 </div>

 <div class="btn btn-default">
   <%= f.submit %>
 </div>

<% end %>